<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Lead Generator</title>
</head>
<body>
    <h1>Pre-requisites</h1>
    <ul>
        <li>A LinkedIn account.</li>
        <li>More than 500 connections (For best results).</li>
        <li> Account on <a class = "link" href="https://rapidapi.com/" target="_blank">rapidapi.</a></li>
    </ul>
    <h1>Tutorial</h1>
    <ul>
        <li>Visit this <a class = "link" href="https://rapidapi.com/rockapis-rockapis-default/api/linkedin-data-api" target="_blank">link.</a></li>
        <li>Subscibe to Basic plan (Free). You are free to choose any plan.</li>
        <li>On Bottom-Left of the screen. Click any link under Profile APIs.</li>
        <li>Go to Right side of the screen, under <code>Code Snippets</code>. </li>
        <li>You will see something like <code>"x-rapidapi-key": "GIBBERISH TEXT"</code></li>
        <li>Copy the <code>GIBBERISH TEXT</code> (Including inverted commas ""). Paste it in <code>Your API Key</code></li>
    </ul>
    <h1 id="important">Read before you proceed!</h1>
    <ul>
        <li><Strong> Turn off two factor authentication of your LinkedIn account</Strong></li>
        <li>LinkedIn is strict about scraping and automation. Don't get too aggresive while using this application, it may block your account.</li>
        <li>We don't save your personal information (including your password and api key).</li>
        <li>Basic plan comes with 50 requests/month. That means, you can collect very limited profiles. So be sure with your search.</li>
        <li>With basic plan, you can come once every month to collect LinkedIn profiles.</li>
        <li>Once the process of data collection is complete. A csv file will be download in your machine.</li>
        <li><strong>Note:</strong>Emails in the csv are not the official emails but some predictions of a well-trained AI model.</li>
    </ul>
    <span><a id = "next" href="app" target="_blank">&#8594;</a></span>
</body>
</html>